<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <body>
    {% include 'header.html' %}

    <section class="section">
      <div class="container">
        <div class="box">
          <h1 class="title">Bassin</h1>
          <figure class="image is-16by9">
            <img id="camera-feed" alt="Camera Feed">
          </figure>
        </div>
      </div>
    </section>

    {% include 'footer.html' %}
  </body>

  <script>
    var socket = io();

    socket.on('image', function(data) {
      var img = document.getElementById('camera-feed');
      img.src = 'data:image/jpeg;base64,' + arrayBufferToBase64(data);
    });

    function arrayBufferToBase64(buffer) {
      var binary = '';
      var bytes = new Uint8Array(buffer);
      var len = bytes.byteLength;
      for (var i = 0; i < len; i++) {
        binary += String.fromCharCode(bytes[i]);
      }
      return window.btoa(binary);
    }
  </script>
</html>


