<!-- header.html -->
<header>
    <h1 class="page-title">SACE</h1>
    <nav class="navbar custom-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item custom-navbar-item {{ 'active' if request.path == '/' }}" href="/">
                Accueil
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item custom-navbar-item {{ 'active' if request.path == '/control' }}" href="/control">
                    Contrôle
                </a>

                <a class="navbar-item custom-navbar-item {{ 'active' if request.path == '/status' }}" href="/status">
                    Statut
                </a>

                <a class="navbar-item custom-navbar-item {{ 'active' if request.path == '/cameras' }}" href="/cameras">
                    Caméras
                </a>
            </div>
        </div>
    </nav>
</header>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const burger = document.querySelector('.navbar-burger');
  const menu = document.querySelector('.navbar-menu');

  burger.addEventListener('click', () => {
    burger.classList.toggle('is-active');
    menu.classList.toggle('is-active');
  });
});
</script>